[Desktop Entry]
Name=FFmpeg
Comment=Audio/Video encoder
Exec=/usr/bin/sparky-codecs ffmpeg
Icon=gnome-audio
Terminal=false
Type=Application
Categories=Multimedia;
