[Desktop Entry]
Name=FlashPlayer Chromium
Comment=FlashPlayer Chromium Plugin (Pepper)
Exec=/usr/bin/sparky-codecs flash-chromium
Icon=flash
Terminal=false
Type=Application
Categories=Multimedia;
