[Desktop Entry]
Name=DVD-Video
Comment=DVD-Video playing library - installer
Exec=/usr/bin/sparky-codecs libdvd-pkg
Icon=media-optical
Terminal=false
Type=Application
Categories=Multimedia;
