[Desktop Entry]
Name=Mencoder
Comment=A simple movie encoder, designed to encode MPlayer-playable movies
Exec=/usr/bin/sparky-codecs mencoder
Icon=mplayer
Terminal=false
Type=Application
Categories=Multimedia;
