[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Install multimedia codecs
Name[de_DE]=Installiere Multimedia Codecs
Name[es_AR]=Instalar codecs multimedia
Name[fr_FR]=Installer les codecs multimédia
Name[it_IT]=Installa codec multimediali
Name[ja_JP]=マルチメディアコーデックのインストール
Name[pl_PL]=Instalacja kodeków multimedialnych
Name[pt_BR]=Instalar codecs multimedia
Name[pt_PT]=Instalar codecs multimídia
Name[ru_RU]=Установить мультимедийные кодеки
Name[sv_SE]=Installera multimediakodekar
Comment=Install multimedia codecs and plugins
Comment[de_DE]=Installiert Multimedia Codecs und Plugins
Comment[es_AR]=Instala codecs multimedia y complementos
Comment[fr_FR]=Installe les codecs multimédia et greffons
Comment[it_IT]=Installa i codec multimediali ed i plugin
Comment[ja_JP]=マルチメディアコーデック・プラグインをインストールします
Comment[pl_PL]=Zainstaluj multimedialne kodeki i wtyczki
Comment[pt_BR]=Instalar codecs multimedia e complementos (plugins)
Comment[pt_PT]=instalar codecs multimídia e plugins
Comment[ru_RU]=Установить мультимедийные кодеки и плагины
Comment[sv_SE]=Installera multimediakodekar och tilläggsprogram
Exec=remsu /usr/bin/sparky-codecs
Icon=gnome-audio
Terminal=false
Type=Application
Categories=Applications;AudioVideo;Audio;
